* {
    margin: 0;
    box-sizing: border-box;
}

@media (max-width: 375px) {
    .box-containner {
        width: 90%;
    }

    .main-text {
        font-size: 1.5rem;
    }

    .sub-text {
        font-size: 0.9rem;
    }
}

@media (min-width: 1440px) {
    .box-containner {
        max-width: 40rem;
    }

    .main-text {
        font-size: 2.5rem;
    }

    .sub-text {
        font-size: 1.2rem;
    }
}

html, body {
    height: 100%;
}

.wrapper {
    background-color: hsl(212, 45%, 89%);
    height: 100%;
    width: 100%;

    display: flex;
    justify-content: center; 
    align-items: center; 

    font-family: 'Kodchasan', sans-serif;
}

.box-containner {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    background-color: hsl(0, 0%, 100%);
    border-radius: 5%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    width: 30%;
    height: 45%;

    padding: 5%;
}

.image-qr-code {
    width: 100%;
    height: 100%;
    border-radius: 5%;
}

.main-text,
.sub-text {
    text-align: center;
    font-size: 3rem;
    font-weight: 700;
}

.sub-text {
    font-size: 2rem;
    font-weight: 400;
}

.attribution {
    font-weight: 400;
    font-size: 0.688rem;
}

.seperator {
    height: 2rem;
}
